/* Default styling, update or add your own styling */

.blog {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr auto;
}

.blog-header,
.blog-content,
.blog-sidebar,
.blog-footer {
  padding: 1rem;
}

@media (min-width: 1200px) {
  .blog {
    display: inline-grid;
    grid-template-areas:
      'header header'
      'content sidebar'
      'footer footer';
    grid-template-rows: auto 1fr auto;
    gap: 0;
  }

  .blog-header {
    grid-area: header;
  }

  .blog-content {
    grid-area: content;
    width: 900px;
  }

  .blog-sidebar {
    grid-area: sidebar;
    width: 300px;
  }

  .blog-footer {
    grid-area: footer;
  }
}
